

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div class="row">
    <div class="col-md-6">
        <h3>Restricted Items</h3>
        <ul>
            <li>
                While filling the details for sending a parcel, you will be asked for description of what is being <br />
                sent in the parcel as we have certain restrictions in carrying certain goods that are listed below. <br />
                One must not misuse the services, nor should give false information, if so, we are able to act legally:<br />
                &nbsp;
            </li>
            <li>Ammunition (Guns, Bombs etc)</li>
            <li>Biological substances (Blood, faeces and animal remains)</li>
            <li>Clinical and medical waste</li>
            <li>Controlled drugs and narcotics</li>
            <li>Corrosives (chemicals, dyes, acids, mercury, gallium etc)</li>
            <li>Counterfeit currency, bank notes</li>
            <li>Fireworks</li>
            <li>Dry Ice</li>
            <li>Flammable liquids and solids</li>
            <li>Human or animal ashes</li>
            <li>Infectious substances or pathogens or viruses</li>
            <li>Live creatures</li>
            <li>Magnetized materials</li>
            <li>Unlawful indecent images or content</li>
            <li>Radioactive materials</li>
            <li>Poisons, toxic substances, liquids, or gases</li>
            <li>Waste, dirt, or filth</li>
            <li>Weapons</li>


        </ul>
    </div>

